body {
  font-family: var(--font-body);
  background-color: var(--color-white);
  color: var(--color-deep-blue);
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

.script-text {
  font-size: 36px;
  font-family: var(--font-script);
  color: var(--color-red);
}
.about-title {
  font-size: 2.5rem;
  font-family: var(--font-script);
  color: var(--color-red);
  text-align: center;
  margin-bottom: 40px;
}

.section-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
}

.section-header h2 {
  font-size: 2.5rem;
  color: var(--color-deep-blue);
}
